
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/
!.vscode/extensions.json

# Secrets / API Keys
.env
.env.*
hf_token.txt
kaggle_token.txt
*.pem
*.key

live_test/**/*.mp4
live_test/**/*.wav
live_test/**/*.mp3
live_test/**/*.avi
live_test/**/*.mov


.ipynb_checkpoints/

.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

#survey result
survey_results.csv